* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}

#head {
  padding: 10px 10%;
}

.menu-icon {
  display: none;
  font-size: 2em;
  cursor: pointer;
  color: gold;
  transition: color 0.3s ease-in-out;
  margin-left: 100%;
  margin-top: -9%;
}

nav ul.nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  transition: max-height 0.3s ease-in-out;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 10%;
  background-color: black;
  z-index: 1000;
  transition: top 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  nav ul.nav {
    display: none;
    flex-direction: column;
    background-color: black;
    position: absolute;
    top: 60px;
    right: 10%;
    width: 200px;
    max-height: 0;
    flex-wrap: wrap;
    overflow: hidden;
  }

  nav ul.nav.show {
    margin-right: 2%;
    display: flex;
    max-height: 300px;
  }

  nav ul.nav li {
    margin: 10px 0;
    text-align: right;
  }
}

#intro {
  padding-top: 60px;
}

.name {
  font-size: 2em;
  color: gold;
  animation: fadeIn 2s ease-in-out;
}

li {
  display: inline-block;
  list-style: none;
  font-size: 20px;
  margin: 10px 20px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

nav ul li::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 33px;
  border-radius: 10px;
  background: gold;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
}

li:hover::after {
  margin-top: -20%;
  display: flex;
  font-size: 100%;
  text-align: center;
  align-items: center;
  content: attr(data-text);
  justify-content: center;
  width: 110%;
  color: black;
}

li:hover {
  transform: scale(1.1);
}

.first {
  display: flex;
}

.txtbox,
.imgbox {
  width: 47%;
  height: auto;
  padding: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt {
  height: auto;
  display: flexbox;
  justify-content: center;
  align-items: center;
  animation: slideUp 2s ease-in-out;
}

.image1 {
  width: 140%;
  box-shadow: 0px 0px 15px 5px gold;
  filter: drop-shadow(3px 2px 8px gray);
  transition: transform 0.3s ease-in-out;
}

.hello {
  font-size: large;
  color: gold;
}

.name2 {
  font-size: 3.5em;
}

.but {
  margin-top: 3%;
  width: 22%;
  height: 6.5vh;
  font-size: 100%;
  border-radius: 15px;
  background-color: gold;
  color: rgb(72, 72, 72);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  cursor: pointer;
}

.but:hover {
  background-color: black;
  color: gold;
  filter: drop-shadow(1px 3px 6px gold);
  transform: scale(1.05);
  animation: bounce 0.3s ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.job {
  font-size: xx-large;
  animation: fadeIn 2s ease-in-out 0.5s;
}

.image1:hover {
  transform: scale(1.05);
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box1,
.box2 {
  width: 44%;
  height: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image2 {
  left: 0;
  width: 100%;
  filter: drop-shadow(3px 2px 8px gray);
  transition: transform 0.3s ease-in-out;
}

.image2:hover {
  transform: scale(1.05);
}

.tit {
  font-size: 400%;
  filter: drop-shadow(1px 5px 5px gold);
  text-align: center;
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.tit:hover {
  filter: drop-shadow(1px 10px 5px gold);
  transform: scale(1.05);
}

.resume {
  width: 100%;
  height: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.title-container {
  text-align: center;
}

.res {
  width: 40%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 3%;
  margin-left: 3%;
  background-color: rgb(34, 34, 34);
  flex-direction: column;
  padding: 1%;
  transition: 0.3s ease-in-out;
}

.res:hover {
  transform: scale(1.05);
}

.t1 {
  margin-top: 1%;
  margin-left: 3%;
  font-size: 200%;
  color: gold;
  font-family: monospace;
  font-family: "Oswald", sans-serif;
}

.text {
  margin-top: 2%;
  margin-left: 3%;
  margin-bottom: 2%;
  line-height: 1.8;
  color: rgb(164, 160, 143);
  max-width: 95%;
}

.but2 {
  margin-top: 3%;
  width: 22%;
  height: 6.5vh;
  font-size: 100%;
  border-radius: 15px;
  background-color: gold;
  color: rgb(72, 72, 72);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  cursor: pointer;
  margin-left: 30%;
}

.but2:hover {
  background-color: black;
  color: gold;
  filter: drop-shadow(1px 3px 6px gold);
  transform: scale(1.05);
  animation: bounce 0.3s ease-in-out;
}

.skls {
  width: 100%;
  height: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.logo-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: auto;
  flex-direction: row;
}

.logos1 {
  margin-top: 2%;
  height: auto;
  transition: 0.3s ease-in-out;
}

.logos1:hover {
  transform: scale(1.07);
}

.titt {
  font-size: 400%;
  filter: drop-shadow(1px 5px 5px gold);
  text-align: center;
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
  margin-top: 6%;
}

.titt:hover {
  filter: drop-shadow(1px 10px 5px gold);
  transform: scale(1.05);
}

.pjs {
  margin-top: 3%;
  margin-left: 3%;
  position: relative;
  width: 40%;
}

.pj1 {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  display: block;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 101%;
  height: 101%;
  background-color: black;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
}

.pjs:hover .overlay {
  opacity: 0.8;
}

.pjs1 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.bt {
  padding: 2%;
  font-size: 300%;
  color: gold;
}

.inf {
  padding: 2%;
  font-size: medium;
  max-width: 100%;
  max-height: 100%;
}

.but3 {
  margin-top: 3%;
  width: 18%;
  height: 6.5vh;
  font-size: 100%;
  border-radius: 15px;
  background-color: gold;
  color: rgb(72, 72, 72);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  cursor: pointer;
  margin-left: 3%;
}

.but3:hover {
  background-color: black;
  color: gold;
  filter: drop-shadow(1px 3px 6px gold);
  transform: scale(1.05);
  animation: bounce 0.3s ease-in-out;
}

.conback {
  background-image: url("cont.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.concontainer {
  width: 40%;
  background-color: rgb(206, 206, 206);
  height: auto;
}

.cname {
  border-radius: 5px;
  width: 45%;
  height: 5vh;
  margin: 2%;
  color: black;
  font-size: large;
  padding: 1%;
}

.mes {
  border-radius: 5px;
  width: 95%;
  height: 12vh;
  margin-left: 50%;
  margin: 2%;
  color: black;
  font-size: large;
  padding: 1%;
  text-align: left;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .txt {
    margin-top: 20%;
    text-align: center;
  }

  .name2 {
    font-size: 2.5em;
  }

  .but {
    width: 60%;
  }

  .but2,
  .but3 {
    width: 35%;
    margin-left: 30%;
    margin-bottom: 3%;
  }

  .box1,
  .box2 {
    width: 80%;
    margin-left: -8%;
    height: auto;
    margin-bottom: 10vh;
  }

  .resume {
    flex-direction: column;
    width: 220%;
  }

  .imgbox {
    display: none;
  }

  .txtbox {
    margin-left: 23%;
  }

  .box2 {
    margin-left: 5%;
  }

  .image2 {
    margin-top: -25%;
    width: 120%;
  }

  .tit {
    font-size: 300%;
    margin-top: -10%;
  }

  .logo-cont {
    width: 90%;
  }

  .pjs1 {
    display: flex;
    flex-direction: column;
  }

  .pjs {
    width: 95%;
    align-items: stretch;
  }
}
